body,
html {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  padding: 15px 20px;
  color: black;
  font-family: poppins, sans-serif;
  margin: 0;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  z-index: 99;
}
.search-container {
  margin: 0, auto;
  width: 50%;
  height: 35px;
  border-radius: 15px;
  border: 1px solid #d0cfce;
  background-color: #fff;
}

.search-input {
  border: none;
  font-size: 0.9rem;
  background: none;
  width: 100%;
  font-weight: 200;
  margin-top: 4px;
  margin-left: 10px;
  outline: none;
}

.login-button,
.signup-button {
  border: 1.5px solid #e1ce7a;
  border-radius: 8px;
  padding: 6px 11px;
  margin-left: 9px;
  cursor: pointer;
  font-weight: 300;
  background-color: #fff;
  color: #e1ce7a;
  transition: transform 0.3s;
  transition: background-color 1s ease-out 10ms;
}

.login-button:hover,
.signup-button:hover {
  animation: bubble 0.4s ease;
  background-color: #e1ce7a;
  color: #fff;
}
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333333ff;
  padding: 15px 20px;
  color: #fcfaf9;
  font-family: poppins, sans-serif;
  margin: 0;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  z-index: 99;
  height: 72px;
}

.navbar a {
  text-decoration: none;
  color: #fcfaf9;
}

.navbar img {
  max-width: 320px;
  height: auto;
  max-height: 9vh;
  border-radius: 0.5rem;
  object-fit: cover;
}
.search-container {
  margin: 0, auto;
  width: 50%;
  height: 35px;
  border-radius: 15px;
  border: 1px solid #d0cfce;
  background-color: #fff;
}

.search-input {
  border: none;
  font-size: 0.9rem;
  background: none;
  width: 100%;
  font-weight: 200;
  margin-top: 4px;
  margin-left: 10px;
  outline: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.logo-container {
  min-width: 320px;
  padding-top: 5px;
}

.nav-menu {
  width: calc(100% - 320px);
}

.menu-container > a {
  margin: 0px 10px;
}

.menu-container > span {
  margin: 0px 10px 0px 30px;
}

.logout-btn,
.signup-btn,
.login-btn {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 20px;
  border: 0px;
  transition: all 1s;
  cursor: pointer;
}

.logout-btn:hover,
.signup-btn:hover,
.login-btn:hover {
  background-color: #df1401ff;
}

.navbar-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  .navbar-mobile {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    align-items: center;
    position: relative;
    box-sizing: border-box;
  }

  .bm-container:hover {
    display: block;
  }

  .burger-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30px;
    margin-right: 20px;
  }

  .line {
    width: 100%;
    height: 5px;
    background-color: white;
    margin-top: 4px;
  }

  .logo-img {
    width: 35%;
  }

  .menu-container-mobile {
    position: absolute;
    top: 80px;
    left: 0px;
    background-color: black;
    width: 100vw;
    padding: 10px;
    display: none;
    overflow-x: hidden;
    box-sizing: border-box;
    z-index: 999999999;
  }

  .menu-container-mobile:hover {
    display: block;
  }

  .burger-menu-button:hover + .menu-container-mobile {
    display: block;
  }

  .menu-container-mobile ul li {
    color: white !important;
    padding: 8px 20px;
  }

  .logout-btn-mobile {
    color: #df1401ff;
    padding: 0;
    border: 0;
    font-weight: 600;
    background-color: transparent;
    font-size: 1.2rem;
  }

  .signup-btn-mobile,
  .login-btn-mobile {
    color: #ffffff;
    padding: 0;
    border: 0;
    font-weight: 600;
    background-color: transparent;
  }

  .artist-btn-mobile,
  .create-artist-btn-mobile {
    color: white;
    text-decoration: none;
  }
}
